@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, ul, li {
	margin: 0;
	padding: 0;
}

a, img {
	color: inherit;
	outline: none;
	text-decoration: none;
	transition: all 0.3s;
}

a:hover, img:hover {
	opacity: 0.2;
}

.container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

header {
	background-color: darkcyan;
	width: 100%;
	height: 60px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

h1 a {
	display: block;
	color: white;
	font-size: 32px;
	width: 100%;
	height: 100%;
	line-height: 60px;
}

.header_btn {
	display: block;
	width: 80px;
	height: 100%;
}

.logout {
	display: block;
	background-color: darkcyan;
	color: white;
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s;
}

.logout:hover {
	background-color: white;
	color: darkcyan;
}

footer {
	background-color: darkcyan;
	width: 100%;
	height: 40px;
	text-align: center;
}

footer small {
	color: white;
	font-size: 12px;
	line-height: 40px;
}

#login_main {
	height: calc(100vh - 100px);
}

.login_screen {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.login_elements {
	width: 100%;
	height: auto;
}

#login_title {
	text-align: center;
	padding-bottom: 30px;
	margin-left: 0;
}

.login_items {
	width: 290px;
	margin: 0 auto;
}

.login_item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
}

.login_label {
	width: 100px;
}

.login_input {
	width: 190px;
	height: 100%;
}

.login_info {
	width: 178px;
	height: 29px;
	border: solid 1px black;
	border-radius: 5px;
	padding: 2px 5px;
	outline: none;
	appearance: none;
}

.login_submit {
	width: 80px;
	height: 30px;
	margin: 30px auto 0;
}

.login {
	display: block;
	background-color: darkcyan;
	color: white;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s;
}

.login:hover {
	opacity: 0.6;
}

.error_message {
	color: red;
	font-size: 14px;
	text-align: center;
}

main {
	background-color: cornsilk;
	width: 100%;
	min-height: calc(100vh - 100px);
}

.index {
	padding: 30px 0;
}

.index ul {
	padding-left: 30px;
}

.index li {
	padding: 2px 0;
}

.index li a {
	font-size: 18px;
}

.book_titles {
	display: flex;
	align-items: center;
	padding-bottom: 30px;
}

.back {
	display: block;
	width: 24px;
	height: 24px;
}

.back img {
	display: block;
	width: 100%;
	height: 100%;
}

.titles {
	display: flex;
	align-items: center;
}

h2 {
	font-size: 24px;
	margin-left: 11px;
}

h3 {
	font-size: 20px;
	margin-left: 20px;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

thead {
	display: table-header-group;
}

.sp-only-tr {
	display: none;
}

.pc-only-td {
	display: table-cell;
}

.sp-only-td {
	display: none;
}

tr {
	font-size: 16px;
	width: 100%;
	height: 50px;
	text-align: center;
}

td {
	box-sizing: border-box;
}

td:first-child, td:nth-child(4), td:nth-child(5) {
	width: 100px;
}

td:nth-child(2), td:nth-child(3) {
	width: 400px;
}

td:last-child {
	width: 99px;
}

.correct {
	background-color: darkcyan;
	color: white;
}

.incorrect {
	background-color: red;
	color: white;
}

.word_td {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

.word {
	font-size: 16px;
	width: 100px;
	height: 30px;
	text-align: left;
	line-height: 30px;
	padding-left: 20px;
}

.icon_space {
	width: 70px;
}

.icon {
	display: block;
	width: 30px;
	height: 30px;
}

.icon:hover {
	cursor: pointer;
}

.answer_td {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.my_answer {
	font-size: 20px;
	width: 200px;
	height: 30px;
	padding: 2px 5px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	appearance: none;
}

.answer_button {
	background-color: aliceblue;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	appearance: none;
	transition: all 0.3s;
}

.answer_button:hover {
	cursor: pointer;
	opacity: 0.2;
}

.judgement {
	font-size: 24px;
	font-weight: bold;
	color: red;
}

.play, .pause, .replay {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.pages {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.element {
	display: block;
	font-size: 16px;
	width: 20px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	box-sizing: border-box;
	margin: 0 5px;
}

.page_nation {
	width: 40px;
	line-height: 38px;
	border: solid 1px darkcyan;
	border-radius: 50%;
}

.current {
	background-color: darkcyan;
	color: white;
}

.link {
	background-color: cornsilk;
	color: darkcyan;
}

.link:hover {
	background-color: darkcyan;
	color: white;
	opacity: 1;
}

.adjacent {
	display: block;
	width: 30px;
	height: 30px;
	margin: 5px;
}

.adjacent img {
	display: block;
	width: 100%;
	height: 100%;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 100px);
}

.not_found {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 20px;
}

.back_btn {
	display: block;
	background-color: darkturquoise;
	color: white;
	font-size: 16px;
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 40px;
	margin: 0 auto;
}

@media screen and (max-width: 1279px) {
	.container {
		width: 738px;
	}
	
	tr {
		font-size: 14px;
	}
	
	td:first-child {
		width: 40px;
	}
	
	td:nth-child(2) {
		width: 187px;
	}
	
	td:nth-child(3) {
		width: 300px;
	}
	
	td:nth-child(4), td:nth-child(5) {
		width: 60px;
	}
	
	td:last-child {
		width: 90px;
	}
	
	.word {
		padding-left: 10px;
	}
	
	.icon_space {
		width: 40px;
	}
	
	.my_answer {
		font-size: 16px;
		width: 150px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: calc(100% - 30px);
	}
	
	header {
		height: 40px;
	}
	
	h1 a {
		font-size: 24px;
		line-height: 40px;
	}
	
	.header_btn {
		width: 50px;
	}
	
	footer {
		height: 30px;
	}
	
	footer small {
		line-height: 30px;
	}
	
	main {
		min-height: calc(100vh - 70px);
	}
	
	.index li a {
		font-size: 16px;
	}
	
	.book_titles {
		padding-bottom: 15px;
	}
	
	.back {
		width: 20px;
		height: 20px;
	}
	
	.titles {
		display: block;
	}
	
	h2 {
		font-size: 20px;
		margin-left: 8px;
	}
	
	h3 {
		font-size: 18px;
		margin-left: 8px;
	}
	
	thead {
		display: none;
	}
	
	.sp-only-tr {
		display: table-row;
	}
	
	.pc-only-td {
		display: none;
	}
	
	.sp-only-td {
		display: table-cell;
	}
	
	.sp-num {
		width: 40px !important;
	}
	
	.sp-word {
		width: calc(100% - 40px) !important;
	}
	
	.word {
		width: 150px;
	}
	
	.sp-answer {
		width: calc(100% - 40px) !important;
	}
	
	.sp-icon {
		width: 33% !important;
	}
	
	.pages {
		margin-top: 30px;
	}
	
	.element {
		font-size: 14px;
		width: 12px;
		height: 30px;
		line-height: 30px;
		margin: 0 3px;
	}
	
	.page_nation {
		width: 30px;
		line-height: 28px;
		margin: 0 4px;
	}
	
	.adjacent {
		width: 20px;
		height: 20px;
		margin: 5px 4px;
	}
	
	.main {
		height: calc(100vh - 70px);
	}
	
	.not_found {
		font-size: 20px;
		margin: 0 0 10px;
	}
	
	.back_btn {
		font-size: 14px;
		width: 120px;
		height: 30px;
		line-height: 30px;
		border-radius: 30px;
	}
}
